# FILES
.editorconfig
.gitattributes
.gitignore
.travis.yml
.eslintrc.json
.huskyrc.json
.lintstagedrc.json
.fearless.js
README.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md

# FOLDERS
coverage/
tools/
node_modules/
.github
benchmarks/
docs/
examples/